* {
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  font-feature-settings:
    "liga" 1,
    "calt" 1;
}
html,
body {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

::-webkit-scrollbar {
  width: 3px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f6f4f4;
  border-radius: 77px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b7b7b7;
  border-radius: 77px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b7b7b7;
  border-radius: 77px;
}
